{{ template "partials/header" . }}

    <div class="card" style="padding: 2%;">
        <p><strong>Id: </strong>{{ .Task.TaskId }}</p>
        <p><strong>Task Name: </strong>{{ .Task.TaskName }}</p>
        <p><strong>Start Date: </strong>{{ .Task.StartDate }}</p>
        <p><strong>End Date: </strong>{{ .Task.EndDate }}</p>
        <p><strong>Status: </strong>{{ .Task.Status }}</p>
        <p><strong>Description: </strong>{{ .Task.Description }}</p>
    </div>    

{{ template "partials/footer" . }}