{{ template "partials/header" . }}

    <div class="">
        <form class="" action="/tasks/{{.Task.TaskId}}/edit" method="POST">
            <div class="field">
                <label for="">Task Name:</label>
                <input class="form-control" type="text" name="task_name"  value="{{ .Task.TaskName }}" id="" autofocus>
            </div>
            <div class="field">
                <label for="">Start Date:</label>
                <input type="date" class="form-control" name="start_date"  value="{{ .Task.StartDate }}" id="">
            </div>
            <div class="field">
                <label for="">End Date:</label>
                <input class="form-control" type="date"  name="end_date"  value="{{ .Task.EndDate }}" id="">
            </div>
            <div>
                <label for="">Status</label>
                <select class="form-control" name="status" id="">
                    <option value="{{ .Task.Status }}">{{ .Task.Status }}</option>
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <div class="field">
                <label for="">Description:</label>
                <textarea class="form-control" name="description" value="{{ .Task.Description }}" id="" cols="30" rows="5"></textarea>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/tasks/{.Task.TaskId}/details" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
    
{{ template "partials/footer" . }}