{{ template "partials/header" . }}

    <div class="">
        <div class="">
            <div align="right">
                <a href="/tasks/add" class="btn btn-primary">Add</a>
                <a href="/tasks/search" class="btn btn-primary">Search</a>
            </div>

            {{ if .Count }}

                <p><b>Total: </b>{{ .Count }}</p>
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Tasks }}
                            <tr>
                                <td class="collapsing">{{ .TaskId }}</td>
                                <td>{{ .TaskName }}</td>
                                <td>{{ .Status }}</td>
                                <td>
                                    <a class="btn btn-primary" href="/tasks/{{.TaskId}}/details">
                                        Details
                                    </a>
                                </td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>

            {{ else }}

                <div class="ui warning message">
                    <h5>No Records Found!</h5>
                </div>

            {{ end }}

        </div>
    </div>
        
{{ template "partials/footer" . }}